*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    background-color: #B33771;
}

.main{
    height: 70vh;
    width: 50vw;
    background-color: #fff;
    margin-left: 400px;
    margin-top: 100px;
}

h1{
    padding-top: 50px;
    padding-left: 70px;
    font-size: 35px;
    padding-bottom: 20px;
}

.one{
    margin-top: 20px;
    margin-left: 80px;
    height: 4vh;
    width: 18vw;
    font-size: 20px;
}

button{
    margin-top: 20px;
    height: 4vh;
    font-size: 20px;
    padding: 0px 10px 0px 10px;
}

#result{
    margin-left: 75px;
    font-size: 25px;
    margin-top: 15px;
}
